.company-list {
  padding-left: 120px;
  padding-right: 120px;
  margin: 0;
  min-width: 800px;
  display: grid;
  grid-template-columns: 2fr 5fr;
  gap: 0;
  list-style: none;
  background-color: #f8f8fa;
}

.company-list>div {
  margin-bottom: 8px;
  height: 110px;
  font-size: 20px;
  display: flex;
  align-items: center;
  background-color: #ffffff;
}

.company-list .column-name {
  padding-left: 65px;
}

.company-list .heading {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

.logo {
  height: 32px;
  width: 16px;
  background-image: url(./logo.png);
}

.header {
  height: 145px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
}

.header h3 {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 12px;
}

.company-details {
  background-color: #f8f8fa;
  font-size: 20px;
}

.company-details h4 {
  font-size: 34px;
  margin: 0;
}

.company-image {
  padding-top: 96px;
  display: flex;
  justify-content: center;
}

.company-info {
  padding-top: 58px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-left: 50px;
  padding-right: 50px;
}

.company-info-column {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  padding: 58px 50px;
}

.company-nearby-places {
  flex-grow: 4;
  padding: 58px 50px;
  background-color: #ffffff;
}

.nearby-places-grid {
  margin: 0;
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0;
}

.nearby-places-grid>div {
  margin-bottom: 10px;
  height: 90px;
  font-size: 20px;
  display: flex;
  align-items: center;
  padding-top: 36px;
  padding-bottom: 36px;
  padding-left: 32px;
  background-color: #f8f8fa;
}
